---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfProjectsToShow: 3
---
{% set projectslist = collections.projects | head(-1 * numberOfProjectsToShow) %}

{% include "projectslist.njk" %}


