<section class="projects py-5">
	<h2>Featured Projects</h2>
	<ul class="list-group">
		{% for project in projectslist | reverse %}
			<li class="list-group-item">
				<a href="{{ project.url }}" class="projectlist-link">{% if project.data.title %}{{ project.data.title }}{% else %}<code>{{ project.url }}</code>{% endif %}</a>
			</li>
		{% endfor %}
	</ul>
	<p><em>More to be added soon</em></p>
</section>