<section class="projects py-5">
	<h2>Featured Projects</h2>
	<div class="row">
	{% for project in projectslist | reverse %}
		<div class="col-md-6 mb-3">
			<a class="card-wrapper-link" href="{{project.url}}" title="View this project">
				<div class="card text-bg-dark">
					<img src="{{project.data.imgSrc}}" class="card-img" alt="{{project.data.imgAlt}}">
					<div class="card-img-overlay d-flex flex-column justify-content-center">
						<h5 class="card-title">{{project.data.title}}</h5>
						<p class="card-text">{{project.data.description}}</p>
						<time class="card-text" datetime="{{ project.data.date | htmlDateString }}"><small>{{ project.data.date | readableDate("LLLL yyyy") }}</small></time>
					</div>
				</div>
			</a>
		</div>
	{% endfor %}
		<div class="col-md-6 mb-3">
			<div class="card placeholder-card text-bg-dark">
				<img src="/img/project-placeholder-image.jpg" class="card-img" alt="Photo of code on a screen, representing a project in development.">
				<div class="card-img-overlay d-flex flex-column justify-content-center">
					<h5 class="card-title">Project coming soon</h5>
					<p class="card-text">This project is currently in development. Please check back later.</p>
					<p class="card-text"><small>Estimate: November 2023</small></p>
				</div>
			</div>
		</div>
	</div>
</section>